<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar navbar-expand-md flex-column navbar-light bg-light my-navbar">
  <a class="navbar-brand align-self-center m-0 pb-3 position-md-absolute pb-md-0 my-brand" href="#">Dorron Zherka</a>
  <button class="navbar-toggler my-button" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse justify-content-md-center w-100 my-menu" id="navbarNav">
   <ul class="navbar-nav text-center">
    <li class="nav-item active">
     <a class="nav-link" href="#">About me <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="#">Experience</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="#">Education</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Skills</a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="#">Projects</a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="#">Contact me</a>
     </li>
   </ul>
  </div>
 </nav>