<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12">
           <div class="text-center">
              <img src="/assets/images/dorron-img.jpg" alt="" class="img-fluid rounded-circle my-img">
           </div>
        </div>
        <div class="col-md-6 col-sm-12 about-me">
        <div class="text-center">
           <h1 class="my-title"  >About me</h1>
        </div>
        <div class="text-center">
          <p class="my-paragraph text-justify">
              I'm Dorron Zherka, since i was child i was passionate to technology, 
              i loved to experiment with computers, and now i am software developer, 
              i love to code, play with many programming language and try their API'S,
              make something great with them, for me a computer is magic wand and the code is a magic spell.
             I also I'm  addicdet to geekstuf like comics, japanese mangas and animes, and i love to play retro and new games.</p>
        </div>
       </div>
    </div>
</div>