.my-img {
    width: 250px;
    margin-top: 150px;
    margin-bottom: 150px;
}
 
.my-title {
    font-family: "Oswald";
    margin-bottom: 35px;
}
.my-paragraph {
    font-family: "Open Sans Condensed";
    font-size: 21px;
}

.about-me {
    margin-top: 120px;
    padding-right: 25px;
}